<?xml version="1.0" encoding="utf-8"?>
<!-- Debug overlay: disables Sentry auto-init (no DSN configured for debug builds) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="io.sentry.dsn"
            android:value="" />
        <meta-data
            android:name="io.sentry.enabled"
            android:value="false" />
    </application>
</manifest>
